<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.akexorcist.bluetoothspp.library">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <activity android:name="app.akexorcist.bluetoothspp.library.DeviceList" />
    </application>

</manifest>
